.side-bar {
  position: relative;
  float: none;
  width: 100%;
}

.content {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.article-list {
  margin: 0;
}

.side-bar .nav ,
.side-bar .tag-list {
  text-align: center;
}
